/** Reset default browser settings */
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
h1, h2, h3, h4, h5, h6, p {
    padding: 0;
    margin: 0;
}
textarea {
  resize: none;
}
input:focus, textarea:focus {
  outline: none;
}
h1 {
    text-align: center;
}
body {
    font-family: sans-serif;
}
.wrapper {
    max-width: 1200px;
    margin: auto;
}
.table-wrapper {
  margin-top: 20px;
}
.checkbox-group input[type="checkbox"] {
  margin-right: 10px;
}
hr {
  border: 1px solid #000;
}
.photos-list {
  margin-bottom: 20px;
  display: flex;
}
.photos-list > div {
  height: 100px;
  position: relative;
}
.photos-list > div img {
  height: 100%;
}
.photos-list > div > .delete-image-button {
  position: absolute;
  right: 0;
}